
body {

    background-color: rgb(153, 91, 204);
    font-family: cursive;
}

button {

    background-color: rgb(43, 226, 89);
    border: none;
    margin: 3px 4px;
    padding: 5px 10px;
    border-radius: 4px;
}